@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
* {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

img {
  max-width: 100%;
  display: block; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

.container-fluid {
  padding: 0 !important;
  background-color: #393939;
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column; }
  .container-fluid .welcomeTotalWrapper {
    margin: auto;
    text-align: center; }
    .container-fluid .welcomeTotalWrapper h1, .container-fluid .welcomeTotalWrapper h3 {
      text-transform: uppercase;
      color: #fff;
      transform: skewY(-10deg);
      font-weight: 700; }
    .container-fluid .welcomeTotalWrapper h1 {
      border: none;
      background-color: #0082c3;
      padding: 5px;
      margin: 0;
      font-size: 23px; }
    .container-fluid .welcomeTotalWrapper h3 {
      background-color: rgba(0, 0, 0, 0.8);
      border: none;
      padding: 10px;
      font-size: 13px; }
    .container-fluid .welcomeTotalWrapper .buttonWrapper {
      margin-top: 70px; }
      .container-fluid .welcomeTotalWrapper .buttonWrapper a {
        font-size: 11px; }

.denetimWrapper {
  width: 100%; }
  .denetimWrapper .denetimText {
    background-color: #fff;
    padding: 10px;
    width: 100%;
    text-align: center;
    -webkit-transform: skewY(-10deg);
    -moz-transform: skewY(-10deg);
    -ms-transform: skewY(-10deg);
    transform: skewY(-10deg);
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 700; }
    .denetimWrapper .denetimText span {
      font-size: 15px; }
  .denetimWrapper .denetimForm {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0; }
    .denetimWrapper .denetimForm form {
      width: 100%;
      text-align: center; }
      .denetimWrapper .denetimForm form select {
        background-color: #898989;
        width: 100%;
        padding: 10px;
        border: 1px #6b6b6b solid;
        border-radius: 3px;
        overflow: hidden;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        font-size: 20px;
        display: none; }
        .denetimWrapper .denetimForm form select option {
          padding: 10px; }
  .denetimWrapper .denetimButtons a {
    font-size: 11px; }

.auditsWrapper {
  height: 100%;
  background-color: brown;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  flex-direction: column; }
  .auditsWrapper .auditsContainer {
    width: 100%; }
    .auditsWrapper .auditsContainer .auditsToogleBox {
      margin: 10px; }
      .auditsWrapper .auditsContainer .auditsToogleBox #accordion .card .card-header {
        padding: 0;
        margin-bottom: 0;
        border-bottom: 1px solid #c8c8c8; }
        .auditsWrapper .auditsContainer .auditsToogleBox #accordion .card .card-header span {
          font-size: 13px;
          color: #878787;
          display: block;
          border-bottom: 1px #ededed solid;
          padding: 10px; }
        .auditsWrapper .auditsContainer .auditsToogleBox #accordion .card .card-header h5 {
          width: 100%;
          padding: 10px;
          background-color: #e4e4e4; }
          .auditsWrapper .auditsContainer .auditsToogleBox #accordion .card .card-header h5 button {
            padding: 0;
            font-size: 13px;
            color: #484848;
            display: block;
            width: 100%; }
        .auditsWrapper .auditsContainer .auditsToogleBox #accordion .card .card-header:last-child {
          border: none !important; }
      .auditsWrapper .auditsContainer .auditsToogleBox #accordion .card .collapseCenter ul {
        margin: 0; }
        .auditsWrapper .auditsContainer .auditsToogleBox #accordion .card .collapseCenter ul li {
          text-align: center;
          border-bottom: 1px #ededed solid;
          font-size: 12px;
          padding: 10px;
          cursor: pointer; }
          .auditsWrapper .auditsContainer .auditsToogleBox #accordion .card .collapseCenter ul li a {
            color: #515154;
            padding: 10px; }
  .auditsWrapper .auditsButton a {
    font-size: 11px; }

#exampleModal .modal-dialog .modal-content .modal-header {
  background: #0082c3; }
  #exampleModal .modal-dialog .modal-content .modal-header .modal-title {
    font-size: 15px;
    text-align: center;
    margin: auto; }

#exampleModal .modal-dialog .modal-content .modal-footer .btn {
  font-size: 13px; }

#exampleModal .modal-dialog .modal-content .modal-footer .btn-primary {
  background-color: #0082c3 !important; }

.safetyPage {
  background-color: #5f9ea0;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column; }
  .safetyPage .safetypagetop {
    border: 1px #ededed solid;
    padding: 10px 0;
    background-color: #fff;
    border-radius: 3px;
    width: 100%; }
    .safetyPage .safetypagetop .safetyPageInfo {
      display: flex;
      align-items: center; }
      .safetyPage .safetypagetop .safetyPageInfo div {
        width: 100%;
        text-align: center;
        /*                                     &:nth-child(2){
                                        border-right: 1px #ededed solid;
                                        border-left: 1px #ededed solid;
                                    } */ }
        .safetyPage .safetypagetop .safetyPageInfo div span {
          text-transform: uppercase;
          font-size: 13px; }
      .safetyPage .safetypagetop .safetyPageInfo:first-child div span {
        font-weight: 700; }
    .safetyPage .safetypagetop .safetyWrap .safetyInlineWrapper {
      display: flex; }
      .safetyPage .safetypagetop .safetyWrap .safetyInlineWrapper span {
        width: 33.33333%; }
  .safetyPage .safetypagebottom {
    width: 100%;
    border: 1px #ededed solid;
    background-color: #fff;
    border-radius: 3px;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px; }
    .safetyPage .safetypagebottom a {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px #ededed solid;
      padding: 10px;
      width: 23%;
      margin: 1%;
      min-height: 130px;
      max-height: 130px;
      border-radius: 3px;
      font-size: 13px;
      flex-direction: column;
      color: inherit;
      transition: 0.5s ease;
      -webkit-transition: 0.5s ease;
      -moz-transition: 0.5s ease;
      -o-transition: 0.5s ease; }
      .safetyPage .safetypagebottom a .controller {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 100%;
        flex-direction: column; }
        .safetyPage .safetypagebottom a .controller .controllerTitle {
          font-weight: 700;
          text-transform: uppercase; }
        .safetyPage .safetypagebottom a .controller .controllerContent {
          width: 100%;
          margin: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .safetyPage .safetypagebottom a .controller .controllerContent div {
            width: 100%;
            max-width: 90px;
            margin: auto;
            text-align: center;
            display: flex; }
            .safetyPage .safetypagebottom a .controller .controllerContent div span {
              width: 50%;
              text-align: center;
              display: block; }
        .safetyPage .safetypagebottom a .controller:last-child {
          margin: none !important; }
      .safetyPage .safetypagebottom a:hover {
        color: none;
        text-decoration: none; }
  .safetyPage .safetybuttons {
    margin-top: 20px; }
    .safetyPage .safetybuttons a {
      font-size: 11px; }

.compareContainer {
  height: 100%;
  background-color: #415c62;
  padding: 10px; }
  .compareContainer .searchInputGroup form {
    position: relative; }
    .compareContainer .searchInputGroup form input#myInput {
      width: 100%;
      font-size: 16px;
      padding: 10px;
      border: 1px solid #ddd;
      margin-bottom: 10px;
      border-radius: 3px;
      overflow: hidden; }
    .compareContainer .searchInputGroup form span {
      position: absolute;
      top: 34%;
      right: 20px;
      color: #adadad;
      font-size: 13px; }
  .compareContainer #myUL {
    border-radius: 3px;
    overflow: hidden; }
    .compareContainer #myUL li {
      position: relative; }
      .compareContainer #myUL li a {
        border: 1px solid #ddd;
        margin-top: -1px;
        background-color: #f6f6f6;
        padding: 12px;
        padding-left: 70px;
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: block;
        font-size: 13px; }
        .compareContainer #myUL li a:hover:not(.header) {
          background-color: #eee; }
      .compareContainer #myUL li .SelectOption {
        position: absolute;
        right: 10px;
        top: 0;
        width: 100%;
        max-width: 120px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .compareContainer #myUL li .SelectOption div {
          display: flex; }
          .compareContainer #myUL li .SelectOption div span {
            width: 50%;
            text-align: center;
            font-size: 11px;
            color: #7e7e7e; }
          .compareContainer #myUL li .SelectOption div:first-child span {
            text-transform: uppercase; }
            .compareContainer #myUL li .SelectOption div:first-child span:first-child {
              background-color: #6cc954;
              color: #fff;
              border-radius: 3px; }
            .compareContainer #myUL li .SelectOption div:first-child span:last-child {
              background-color: #0082c3;
              color: #fff;
              border-radius: 3px;
              margin-left: 2px; }
      .compareContainer #myUL li .checkboxSelector {
        position: absolute;
        left: 7px;
        top: 0;
        display: flex;
        align-self: center;
        height: 100%;
        align-items: center; }
  .compareContainer .compareButtons {
    margin-top: 20px;
    text-align: center; }
    .compareContainer .compareButtons a {
      font-size: 11px; }

.commentsContainer {
  height: 100%;
  background-color: #ececec;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }
  .commentsContainer .commentsInlineContainer {
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    margin: 20px 0; }
    .commentsContainer .commentsInlineContainer .commentLine {
      display: flex;
      padding: 10px;
      border-bottom: 1px #ededed solid; }
      .commentsContainer .commentsInlineContainer .commentLine .pagagrafline {
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .commentsContainer .commentsInlineContainer .commentLine .pagagrafline p {
          font-size: 12px;
          margin: 0; }
      .commentsContainer .commentsInlineContainer .commentLine .questionFormGroups {
        margin-left: 20px; }
        .commentsContainer .commentsInlineContainer .commentLine .questionFormGroups form, .commentsContainer .commentsInlineContainer .commentLine .questionFormGroups .questionComments {
          height: 50%;
          display: flex;
          align-items: center; }
        .commentsContainer .commentsInlineContainer .commentLine .questionFormGroups form select {
          border: 1px #ededed solid;
          border-radius: 3px;
          overflow: hidden;
          background-color: #fff;
          width: 100%;
          border: 1px #ededed solid;
          margin-bottom: 10px; }
          .commentsContainer .commentsInlineContainer .commentLine .questionFormGroups form select option {
            font-size: 12px; }
        .commentsContainer .commentsInlineContainer .commentLine .questionFormGroups .questionComments {
          justify-content: center; }
          .commentsContainer .commentsInlineContainer .commentLine .questionFormGroups .questionComments span {
            font-size: 20px;
            cursor: pointer; }
            .commentsContainer .commentsInlineContainer .commentLine .questionFormGroups .questionComments span:first-child {
              margin-right: 5px;
              background-color: #38696f;
              color: #fff;
              padding: 5px;
              border-radius: 3px; }
            .commentsContainer .commentsInlineContainer .commentLine .questionFormGroups .questionComments span:last-child {
              background-color: #6f3848;
              color: #fff;
              padding: 5px;
              border-radius: 3px; }
      .commentsContainer .commentsInlineContainer .commentLine:last-child {
        border: none; }
  .commentsContainer .commentButtons a {
    font-size: 11px; }

input.apple-switch {
  position: relative;
  -webkit-appearance: none;
  outline: none;
  width: 40px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #D9DADC;
  border-radius: 50px;
  box-shadow: inset -20px 0 0 0 #fff;
  transition: 0.5s ease;
  cursor: pointer; }

input.apple-switch:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 1px;
  background: transparent;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2); }

input.apple-switch:checked {
  box-shadow: inset 20px 0 0 0 #0082c3;
  border-color: #0082c3; }

input.apple-switch:checked:after {
  left: 20px;
  box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05); }

.popupComments #modalID form textarea {
  resize: none;
  width: 100%;
  border: 1px #e3e3e3 solid;
  border-radius: 3px;
  padding: 10px;
  font-size: 13px;
  min-height: 200px;
  max-height: 300px; }

nav {
  position: absolute;
  top: 0;
  width: 100%;
  margin-bottom: 30px; }
  nav .breadcrumb {
    border-radius: 0;
    margin: 0 !important; }
    nav .breadcrumb li a {
      color: #6b6b6b; }
      nav .breadcrumb li a span {
        font-size: 13px; }
    nav .breadcrumb li:before {
      position: relative;
      top: 1px;
      color: #959595; }

@media screen and (min-width: 281px) and (max-width: 800px) {
  .safetyPage {
    height: auto;
    margin-top: 48px; }
    .safetyPage .safetypagebottom a {
      width: 100% !important;
      min-height: auto !important;
      max-height: auto !important; } }
