* {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

img {
  max-width: 100%;
  display: block; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }
