@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import './reset.scss';
@import './var.scss';
    .container-fluid{
        padding: $zero!important;
        background-color: #393939;
        height: $full;
        display: $flex;
        width: $full;
        justify-content: $center;
        align-items: $center;
        align-self: $center;
        flex-direction: column;
            .welcomeTotalWrapper{
                margin:auto;
                text-align: $center;
                h1,h3{
                    text-transform: uppercase;
                    color:$white;
                    transform: skewY(-10deg);
                    font-weight: 700;
                }
                    h1{
                        border:$none;
                        background-color: rgba(0,130,195, 8);
                        padding: $on / 2;
                        margin:$zero;
                        font-size:$on * 2 + 3;
                    }
                    h3{
                        background-color: rgba(0,0,0,.8);
                        border:$none;
                        padding: $on;
                        font-size: $on + 3;
                    }
                    .buttonWrapper{
                        margin-top: $on * 7;
                            a{
                                font-size:$on + 1;
                            }
                    }
            }
    }
    .denetimWrapper{
        width: $full;
            .denetimText{
                background-color: $white;
                padding: $on * 1;
                width: $full;
                text-align: $center;
                @include skewY;
                text-transform: uppercase;
                margin-bottom: $on * 2;
                font-weight: 700;
                    span{
                        font-size: 15px;
                    }
                
            }
            .denetimForm{
                width: $full;
                display: $flex;
                justify-content: $center;
                position: absolute;
                bottom: $zero;
                    form{
                        width: $full;
                        text-align: $center;
                        select{
                            background-color: #898989;
                            width: $full;
                            padding: $on;
                            border: 1px #6b6b6b solid;
                            border-radius: $on - 7;
                            overflow: hidden;
                            color: $white;
                            text-transform: uppercase;
                            text-align: $center;
                            font-size: $on * 2;
                            display: none;
                                    option{
                                        padding: $on;
                                    }
                        }
                    }
            }
        .denetimButtons{
            a{
                font-size:11px;
            }
        }
    }
        .auditsWrapper{
            height: $full;
            background-color: brown;
            display: $flex;
            align-items: $center;
            align-self: $center;
            justify-content: $center;
            flex-direction: column;
                .auditsContainer{
                    width: $full;
                    .auditsToogleBox{
                        margin: $on;
                            #accordion{
                                .card{
                                    .card-header{
                                        padding: $zero;
                                        margin-bottom:$zero;
                                        border-bottom: 1px solid #c8c8c8;
                                        span{
                                            font-size: 13px;
                                            color:#878787;
                                            display: block;
                                            border-bottom: 1px #ededed solid;
                                            padding: $on;
                                        }
                                        h5{
                                            width: $full;
                                            padding: $on;
                                            background-color: #e4e4e4;
                                            button{
                                                padding: $zero;
                                                font-size:$on + 3;
                                                color:#484848;
                                                display: block;
                                                width: $full;
                                                
                                            }
                                        }
                                        &:last-child{
                                            border:none!important;
                                        }
                                    }
                                    .collapseCenter{
                                        ul{
                                            margin:$zero;
                                            li{
                                                text-align: $center;
                                                border-bottom: 1px #ededed solid;
                                                font-size: 12px;
                                                padding: $on;
                                                cursor: pointer;
                                                    a{
                                                        color:#515154;
                                                        padding: $on;

                                                    }
                                            }
                                        }
                                    }
                                }
                            }
                    }
                }
                .auditsButton{
                    a{
                        font-size: 11px;
                    }
                }
        }

        #exampleModal{
            .modal-dialog{
                .modal-content{
                    .modal-header{
                        background: rgba(0,130,195,1);
                            .modal-title{
                                font-size: 15px;
                                text-align: $center;
                                margin: auto;
                            }
                    }
                    .modal-footer{
                        .btn{
                            font-size: 13px;
                        }
                       .btn-primary{
                            background-color: rgba(0,130,195,1)!important;
                        }
                    }
                }
            }
        }

        .safetyPage{
            background-color: #5f9ea0;
            height: $full;
            padding: $on;
            display: $flex;
            justify-content: $center;
            align-items: $center;
            align-self: $center;
            flex-direction: column;
            .safetypagetop{
                border:1px #ededed solid;
                padding: $on $zero; 
                background-color: $white;
                border-radius: 3px;
                width: $full;
                    .safetyPageInfo{
                        display: $flex;
                        align-items: center;
                            div{
                                width: $full;
                                text-align: $center;
                                    span{
                                        text-transform: uppercase;
                                        font-size: 13px;
                                    }
/*                                     &:nth-child(2){
                                        border-right: 1px #ededed solid;
                                        border-left: 1px #ededed solid;
                                    } */
                            }
                            &:first-child{
                                div{
                                    span{
                                        font-weight: 700;
                                    }
                                }
                            }
                    }
                    .safetyWrap{
                        .safetyInlineWrapper{
                            display: $flex;
                            span{
                                width: $full / 3;
    
                            }
                        }
                    }
            }
            .safetypagebottom{
                width: $full;
                border: 1px #ededed solid;
                background-color: $white;
                border-radius: 3px;
                margin-top: $on / 2;
                display: $flex;
                flex-wrap: wrap;
                padding: $on;
a{
    display: $flex;
    justify-content: $center;
    align-items: $center;
    border:1px #ededed solid;
    padding: $on;
    width: $full / 4 - 2;
    margin:$full / 100;
    min-height: $on * 13;
    max-height: $on * 13;
    border-radius: $on - 7;
    font-size: $on + 3;
    flex-direction: column;
    color:inherit;
    @include transition;

    .controller{
        display: $flex;
        justify-content: $center;
        align-items: $center;
        padding: $on;
        width: $full;
        flex-direction: column;
        .controllerTitle{
            font-weight: 700;
            text-transform: uppercase;
        }
            .controllerContent{
                width: $full;
                margin: auto;
                display: $flex;
                flex-direction: column;
                justify-content: $center;
                align-items: $center;
                    div{
                        width: $full;
                        max-width: $on * 9;
                        margin: auto;
                        text-align: $center;
                        display: $flex;
                            span{
                                width: $full / 2;
                                text-align: $center;
                                display: block;
                            }
                    }
            }

            &:last-child{
                margin:none!important;
            }
    }
    &:hover{
        color:none;
        text-decoration: none;
    }
}
            }
            .safetybuttons{
                margin-top: $on * 2;
                    a{
                        font-size: $on + 1;
                    }
            }
        }

        .compareContainer{
            height: $full;
            background-color: #415c62;
            padding: $on;

            .searchInputGroup{
                form{
                    position: relative;
                    input#myInput{
                        width:$full;
                        font-size: $on + 6;
                        padding: $on * 1;
                        border: 1px solid #ddd;
                        margin-bottom: $on;
                        border-radius: 3px;
                        overflow: hidden;

                    }
                    span{
                        position: absolute;
                        top: $full / 4 + 9%;
                        right: $on * 2;
                        color: #adadad;
                        font-size: $on + 3;
                    }
                }
            }
#myUL {
    border-radius: 3px;
    overflow: hidden;
    li{
        position: relative;
        a{
            border: 1px solid #ddd;
            margin-top: -1px;
            background-color: #f6f6f6;
            padding: $on + 2;
            padding-left: $on * 7;
            text-decoration: $none;
            font-size: $on + 8;
            color: black;
            display: block;
            font-size:13px;
                &:hover:not(.header){
                    background-color: #eee;
                }
        }

            .SelectOption{
                position: absolute;
                right: $on;
                top: $zero;
                width: $full;
                max-width: $on * 12;
                height: $full;
                display: $flex;
                flex-direction: column;
                justify-content: $center;
                    div{
                        display: $flex;
                            span{
                                width: $full / 2;
                                text-align: $center;
                                font-size:11px;
                                color:#7e7e7e;
                            }
                                &:first-child{
                                        span{
                                            text-transform:uppercase;
                                                &:first-child{
                                                    background-color: #6cc954;
                                                    color: $white;
                                                    border-radius: 3px;
                                                }
                                                &:last-child{
                                                    background-color: rgba(0,130,195,1);
                                                    color: #fff;
                                                    border-radius: 3px;
                                                    margin-left: 2px;
                                                }
                                        }
                                }
                    }
            }

            .checkboxSelector{
                position: absolute;
                left: $on - 3;
                top: $zero;
                display: $flex;
                align-self: $center;
                height: $full;
                align-items: $center;

            }
    }
}
        .compareButtons{
            margin-top: $on * 2;
            text-align: $center;
                a{
                    font-size: $on + 1;
                }
        }
        }
        .commentsContainer{
            height: $full;
            background-color: #ececec;
            padding:$on;
            display: $flex;
            align-items: $center;
            flex-direction: column;
            justify-content: $center;
                .commentsInlineContainer{
                    background-color: $white;
                    border-radius: 3px;
                    padding: $on;
                    margin: $on * 2 $zero;
                       .commentLine{
                           display: $flex;
                           padding: $on;
                           border-bottom: 1px #ededed solid;
                            .pagagrafline{
                                display: $flex;
                                flex-direction: column;
                                justify-content: $center;
                                p{
                                    font-size: 12px;
                                    margin:$zero;
                                }
                            }
                            .questionFormGroups{
                                margin-left: $on * 2;
                                form, .questionComments{
                                    height: $full / 2;
                                    display: $flex;
                                    align-items: $center;
                                }
                                form{
                                    select{
                                        border:1px #ededed solid;
                                        border-radius: $on - 7;
                                        overflow: hidden;
                                        background-color:$white;
                                        width: $full;
                                        border: 1px #ededed solid;
                                        margin-bottom: 10px;
                                        option{
                                            font-size: 12px;
                                        }
                                    }
                                }
                                .questionComments{
                                    justify-content: $center;
                                        span{
                                            font-size: $on * 2;
                                            cursor: pointer;
                                            &:first-child{
                                                margin-right: $on / 2;
                                                background-color: #38696f;
                                                color: $white;
                                                padding: $on / 2;
                                                border-radius: $on - 7;
                                            }
                                            &:last-child{
                                                background-color: #6f3848;
                                                color: $white;
                                                padding: $on / 2;
                                                border-radius: $on - 7;
                                            }
                                        }
                                        }
                                }
                                &:last-child{
                                    border:$none;
                                }
                       }

                }
                .commentButtons{
                    a{
                        font-size: 11px;
                    }
                }
        }

        // css apple-switch
        input.apple-switch {
            position: relative;
            -webkit-appearance: none;
            outline: none;
            width: 40px;
            height: 20px;
            background-color: #fff;
            border: 1px solid #D9DADC;
            border-radius: 50px;
            box-shadow: inset -20px 0 0 0 #fff;
            transition: 0.5s ease;
            cursor: pointer;
          }
          input.apple-switch:after {
            content: "";
            position: absolute;
            top: 2px;
            left: 1px;
            background: transparent;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
          }
          
          input.apple-switch:checked {
            box-shadow: inset 20px 0 0 0 #0082c3;
            border-color: #0082c3;
          }
          
          input.apple-switch:checked:after {
            left: 20px;
            box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
          }
          // css apple-switch



        .popupComments{
                                #modalID{
                                    form{
                                        textarea{
                                            resize: $none;
                                            width: $full;
                                            border: 1px #e3e3e3 solid;
                                            border-radius: $on - 7;
                                            padding: $on;
                                            font-size: $on + 3;
                                            min-height: $on * 20;
                                            max-height: $on * 30;
                                        }
                                    }
                                }
        }





        nav{
            position: absolute;
            top:$zero;
            width: $full;
            margin-bottom:$on * 3;
            .breadcrumb{
                border-radius: $zero;
                margin:$zero!important;
                    li{
                        a{
                            color: #6b6b6b;
                                span{
                                        font-size: $on + 3;
                            }
                        }
                        &:before{
                            position: relative;
                            top: $on - 9;
                            color:#959595;
                        }
                    }
            }
        }




        @media screen and (min-width:281px) and (max-width:800px){
            .safetyPage{
                height: auto;
                margin-top: $on * 4.8;
                .safetypagebottom{
                    a{
                        width: $full!important;
                        min-height: auto!important;
                        max-height: auto!important;
                    }
                }
            }


        }