@import './var.scss';
*{
    font-family: 'Roboto Condensed', sans-serif;
    margin:$zero;
    padding: $zero;
    box-sizing: border-box;
}

html, body{
    height: $full;
}
img{
    max-width: $full;
    display: block;
}

li{
    list-style-type: $none;
}

a{
    text-decoration: $none;
}