$flex: flex;
$none: none;
$center: center;
$full: 100%;
$on: 10px;
$white: #fff;
$zero: 0;

@mixin skewY {
    -webkit-transform: skewY(-10deg);
    -moz-transform: skewY(-10deg);
    -ms-transform: skewY(-10deg);
    transform: skewY(-10deg);
  }

  @mixin transition{
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
  }